body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: "Smythe", system-ui;
}

h1{
    font-size: 40px;
    line-height: 24px;
    font-weight: 400;
}

.header{
    background: url(/images/header-bg.svg);
    background-size: cover;
    width: 600px;
    height: 160px;
    padding: 40px 0px 0px 40px;
    color: white;
}

.header p{
    font-size: 22px;
    font-weight: 400;
    line-height: 14px;
}

.item{
    /* border: 2px solid blue; */
    display: flex;
    border-bottom: 1px solid #d2d2d2;
    justify-content: space-between;
    align-items: center;
    
}
.box{
    display: flex;
}

.item-desc{
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;


}

.item-title{
    padding-top: 10px;
}

.item-desc p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.item-title{
    font-weight: 400;
    font-size: 28px;
    line-height: 16px;
    color: #000000;
}

.item-image{
    font-size: 50px;
}


.add-btn{
    border: 1.5px #dedede solid;
    border-radius: 50%;
    margin: auto;
    width: 50px;
    height: 50px;
    background-color: white;
}

/* Checkout styling */
.checkout{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.title-container{
    text-align: center;
}

.pizza-container, .hamburger-container, .beer-container{
    display: flex;
    justify-content: space-between;
}

.total-container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

.remove-btn{
    /* display: inline-block; */
    background: none;
    border: none;
    color: #bbbbbb;
}
.complete-order-btn, #submit-btn{
    background-color: #16DB99;
    border: none;
    height: 60px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.hidden{
    display: none;
}

.item-quantity{
    display: flex;
    gap: 5px;
    
}

/* Modal - card details */
.modal-container{
    /* Cover entire screen and stay on top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
    
    /* Center modal */
    display: none;
    justify-content: center;
    align-items: center;
    
    z-index: 1000; /* High value to stay on top */

}

.modal{
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;

}

#submit-btn{
    display: block;
    margin: 20 auto;
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
}

input {
    width: 100%;
    margin-top: 10px;
    height: 70px;
    font-size: 20px;
    padding: 10px;
}

input::placeholder{
    font-size: 20px;
    padding: 10px;
}

.order-completed{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.message{
    border: none;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 32px;
    font-weight: 400;
}